<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="accordion" id="accordion">
      <div class="card">
        <div class="card-header text-center" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Challenge #1 Day #1
            </button>
          </h5>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            You are provided with:
            <pre><code data-language="javascript">let $ = 'CSg';</code></pre> You need to change
            <code>$</code> into a function that returns the string
            <code>'Hello, world!'</code>.
            <br/>Requirements:
            <ul>
              <li> Every line must have at most
                <code>1</code> ASCII character </li>
              <li>You are only allowed to use numbers (0-9) and special characters (!+
                <[, etc.)</li>
                  <li>NO LETTERS ALLOWED (a-z)! Mwhahaha</li>
                  <li>NO UNICODE CHARACTERS 700 lines or less</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header text-center" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
              aria-controls="collapseTwo">
              Challenge #1 Day #2
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body">

            In this kata your task is to differentiate a mathematical expression given as a string in prefix notation. The result should
            be the derivative of the expression returned in prefix notation. To simplify things we will use a simple list
            format made up of parentesis and spaces. The expression format is (func arg1) or (op arg1 arg2) where op means
            operator, func means function and arg1, arg2 are aguments to the operator or function. For example (+ x 1) or
            (cos x) The expressions will always have balanced parentesis and with spaces between list items. Expression operators,
            functions and arguments will all be lowercase. Expressions are single variable expressions using x as the variable.
            Expressions can have nested arguments at any depth for example
            <code>(+ (* 1 x) (* 2 (+ x 1)))</code> Examples of prefix notation in this format:
            <pre><code data-language="javascript">
            (+ x 2) // prefix notation version of x+2
            (* (+ x 3) 5)  // same as 5 * (x + 3) 
            (cos (+ x 1))  // same as cos(x+1) 
            (^ x 2)        // same as x^2 meaning x raised to power of 2</code></pre> The operators and functions you are required to implement are
            <code>+ - * / ^ cos sin tan exp ln</code> where
            <code>^</code> means raised to power of.
            <code>exp</code> is the exponential function (same as e^x) and
            <code>ln</code> is the natural logarithm (base e). Example of input values and their derivatives:
            <pre><code data-language="javascript">
              (* 1 x) => 1
              (^ x 3) => (* 3 (^ x 2))
              (cos x) => (* (sin x) -1)
          </code></pre> In addition to returning the derivative your solution must also do some simplifications of the result but only
            what is specified below.
            <br/>
            <ul>
              <li>The returned expression should not have unecessary 0 or 1 factors. For example it should not return (* 1 (+
                x 1)) but simply the term (+ x 1) similarly it should not return (* 0 (+ x 1)) instead it should return just
                0
              </li>
              <li>Results with two constant values such as for example (+ 2 2) should be evaluated and returned as a single value
                4.
              </li>
              <li>Any argument raised to the zero power should return 1 and if raised to 1 should return the same value or variable.
                For example (^ x 0) should return 1 and (^ x 1) should return x</li>
            </ul>
            Think recursively and build your answer according to the rules of derivation.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header text-center" id="headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
              aria-controls="collapseThree">
              Challenge #2 Day #2
            </button>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body">
            we want to create an interpreter of that language which will support the following instructions (the machine memory or 'data'
            should behave like a potentially infinite array of bytes, initialized to 0):
            <ul>
              <li>
                <code>></code> increment the data pointer (to point to the next cell to the right).</li>
              <li>
                <code>
                  <</code> decrement the data pointer (to point to the next cell to the left).</li>
              <li>
                <code>+</code> increment (increase by one, truncate overflow: 255 + 1 = 0) the byte at the data pointer.</li>
              <li>
                <code>-</code> decrement (decrease by one, treat as unsigned byte: 0 - 1 = 255 ) the byte at the data pointer.</li>
              <li>
                <code>.</code> output the byte at the data pointer.</li>
              <li>
                <code>,</code> accept one byte of input, storing its value in the byte at the data pointer.</li>
              <li>
                <code>[</code> if the byte at the data pointer is zero, then instead of moving the instruction pointer forward
                to the next command, jump it forward to the command after the matching ] command.</li>
              <li>
                <code>]</code> if the byte at the data pointer is nonzero, then instead of moving the instruction pointer forward
                to the next command, jump it back to the command after the matching [ command.</li>
            </ul>
            The function will take in input...
            <br/>
            <ul>
              <li>the program code, a string with the sequence of machine instructions,</li>
              <li>the program input, a string, eventually empty, that will be interpreted as an array of bytes using each character's
                ASCII code and will be consumed by the
                <code>,</code> instruction</li>
            </ul>
            ... and will return ...
            <br/> the output of the interpreted code (always as a string), produced by the
            <code>.</code> instruction.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header text-center" id="headingFour">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false"
              aria-controls="collapseFour">
              Challenge #3 Day #2
            </button>
          </h5>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="collapseFour" data-parent="#accordion">
          <div class="card-body">
            One man (lets call him Eulampy) has a collection of some almost identical Fabergè eggs. One day his friend Tempter said to
            him:
            <ul>
              <li>Do you see that skyscraper? And can you tell me a maximal floor that if you drop your egg from will not crack
                it?
              </li>
              <li>
                No, - said Eulampy.</li>
              <li>
                But if you give me N eggs, - says Tempter - I'l tell you an answer.</li>
              <li>
                Deal - said Eulampy. But I have one requirement before we start this: if I will see more than M falls of egg, my heart will
                be crushed instead of egg. So you have only M trys to throw eggs. Would you tell me an exact floor with this
                limitation?
              </li>
            </ul>
            <h3>Task</h3>
            <br/> Your task is to help Tempter - write a function
            <br/>
            <pre><code data-language="javascript">
              height :: Integer -> Integer -> Integer
              height n m = -- see text</code></pre> that takes 2 arguments - the number of eggs n and the number of trys m - you should calculate maximum scyscrapper
            height (in floors), in which it is guaranteed to find an exactly maximal floor from which that an egg won't crack
            it.
            <br/> Which means,
            <br/>
            <ol>
              <li>You can throw an egg from a specific floor every try</li>
              <li>Every egg has the same, certain durability - if they're thrown from a certain floor or below, they won't crack.
                Otherwise they crack</li>
              <li>You have
                <code>n</code> eggs and
                <code>m</code> tries</li>
              <li>What is the maxmimum height, such that you can always determine which floor the target floor is when the target
                floor can be any floor between
                <code>1</code> to this maximum height?</li>
            </ol>
            <h3>Examples</h3>
            <br/>
            <pre><code data-language="javascript">
            height 0 14 = 0
            height 2 0  = 0
            height 2 14 = 105
            height 7 20 = 137979
          </code></pre>
            <h3>Data range</h3>
            <br/>
            <pre><code data-language="javascript">
              n <= 20000
              m <= 20000
          </code></pre>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header text-center" id="headingFive">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false"
              aria-controls="collapseFive">
              Challenge #1 Day #3
            </button>
          </h5>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="collapseFive" data-parent="#accordion">
          <div class="card-body">
            You need to write a function
            <code>f</code> that returns the string
            <code>ello, world!</code>.
            <br/> Requirement: Every line must have at most
            <code>2</code> characters, and total number of lines must be less than
            <code>40</code>.
            <br/> Hint: It's possible to complete this in
            <code>28</code> lines only.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header text-center" id="headingSix">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSixe" aria-expanded="false"
              aria-controls="collapseSixe">
              Challenge #2 Day #3
            </button>
          </h5>
        </div>
        <div id="collapseSixe" class="collapse" aria-labelledby="collapseSixe" data-parent="#accordion">
          <div class="card-body">
            In a grid of 7 by 7 squares you want to place a skyscraper in each square with only some clues:
            <ul>
              <li>The height of the skyscrapers is between 1 and 7
              </li>
              <li>No two skyscrapers in a row or column may have the same number of floors</li>
              <li>
                A clue is the number of skyscrapers that you can see in a row or column from the outside</li>
              <li>
                Higher skyscrapers block the view of lower skyscrapers located behind them
              </li>
            </ul>
            Can you write a program that can solve this puzzle in time?
            <br/>
            <h3>Task</h3>
            <br/>
            <h6>Create</h6>
            <pre><code data-language="javascript">function solvePuzzle(clues)
              </code></pre> Clues are passed in as an Array(28) of
            <code>integers</code>.
            <br/> The return value is an
            <code>Array(7)</code> of
            <code>Array(7)</code> of
            <code>integers</code>.
            <br/>
            <br/> Caveat: The tests for this kata have been tailored to run in ~10 seconds with the JavaScript reference solution.
            You'll need to do better than that! Please note the
            <code>optimization</code> tag.
            <br/>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header text-center" id="headingSeven">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false"
              aria-controls="collapseSeven">
              Challenge #3 Day #3
            </button>
          </h5>
        </div>
        <div id="collapseSeven" class="collapse" aria-labelledby="collapseSeven" data-parent="#accordion">
          <div class="card-body">
            In the nation of CodeWars, there lives an Elder who has lived for a long time. Some people call him the Grandpatriarch, but
            most people just refer to him as the Elder.
            <br/> There is a secret to his longetivity: he has a lot of young worshippers, who regularly perform a ritual to ensure
            that the Elder stays immortal:
            <ul>
              <li>The worshippers lines up in a magic rectangle, of dimensions m and n.
              </li>
              <li>They channel their will to wish for the Elder. In this magic rectangle, any worshipper can donate time equal
                to the xor of the column and the row (zero-indexed) he's on, in seconds, to the Elder.</li>
              <li>
                However, not every ritual goes perfectly. The donation of time from the worshippers to the Elder will experience a transmission
                loss l (in seconds). Also, if a specific worshipper cannot channel more than l seconds, the Elder will not
                be able to receive this worshipper's donation.</li>
            </ul>
            The estimated age of the Elder is so old it's probably bigger than the total number of atoms in the universe. However, the
            lazy programmers (who made a big news by inventing the Y2K bug and other related things) apparently didn't think
            thoroughly enough about this, and so their simple date-time system can only record time from 0 to t-1 seconds.
            If the elder received the total amount of time (in seconds) more than the system can store, it will be wrapped
            around so that the time would be between the range 0 to t-1.
            <br/> Given m, n, l and t, please find the number of seconds the Elder has received, represented in the poor programmer's
            date-time system.
            <h3>Example:</h3>
            <pre><code data-language="javascript">
                m=8, n=5, l=1, t=100

                Let's draw out the whole magic rectangle:
                0 1 2 3 4 5 6 7
                1 0 3 2 5 4 7 6
                2 3 0 1 6 7 4 5
                3 2 1 0 7 6 5 4
                4 5 6 7 0 1 2 3
                
                Applying a transmission loss of 1:
                0 0 1 2 3 4 5 6
                0 0 2 1 4 3 6 5
                1 2 0 0 5 6 3 4
                2 1 0 0 6 5 4 3
                3 4 5 6 0 0 1 2
                
                Adding up all the time gives 105 seconds.
                
                Because the system can only store time between 0 to 99 seconds, 
                the first 100 seconds of time will be lost, giving the answer of 5.
                
            </code></pre> Clues are passed in as an Array(28) of
            <br/> This is no ordinary magic (the Elder's life is at stake), so you need to care about performance. All test cases
            (900 tests) can be passed within 1 second, but naive solutions will time out easily. Good luck, and do not displease
            the Elder.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header text-center" id="headingheight">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseHeight" aria-expanded="false"
              aria-controls="collapseHeight">
              Challenge #4 Day #3
            </button>
          </h5>
        </div>
        <div id="collapseHeight" class="collapse" aria-labelledby="collapseHeight" data-parent="#accordion">
          <div class="card-body">
            <img src="assets/vicky.jpg" alt="vicky" style="height: 450px;width: 405px">
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header text-center" id="headingNine">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseNive" aria-expanded="false"
              aria-controls="collapseNive">
              Challenge #5 Day #3
            </button>
          </h5>
        </div>
        <div id="collapseNive" class="collapse" aria-labelledby="collapseNive" data-parent="#accordion">
          <div class="card-body">
            <img src="assets/max.JPG" alt="vicky" style="height: 500px;width: 405px">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br/>
