@import url('https://fonts.googleapis.com/css?family=Orbitron');
.card-body {
  color: grey;
  background-color: black;
}

.accordion {
  margin-top: 50px;
  width: 95%;
}

.btn {
  font-family: 'Orbitron', sans-serif;
  color: #9a0606;
}

.card-header {
  background-color: whitesmoke;
}

.card {
  margin-top: 15px;
}
