<div class="container teamList">
  <div class="row">
    <div class="card col-3 text-center" style="width: 18rem; height: 20rem;">
      <div class="card-body">
        <img src="{{ devs[4].imgTeam }}" alt="flag" width="225px" height="150px" style="border-style: solid;">
        <h5 class="card-title ">{{ devs[4].team }}</h5>
        <p class="card-text">
          {{ devs[4].descT }}
        </p>
        <a data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" class="btn btn-primary ">Infos</a>
      </div>
    </div>
    <div class="card col-3 text-center" style="width: 18rem; height: 20rem;">
      <div class="card-body">
        <img src="{{ devs[8].imgTeam }}" alt="flag" width="225px" height="150px" style="border-style: solid;">
        <h5 class="card-title ">{{ devs[8].team }}</h5>
        <p class="card-text">
          {{ devs[8].descT }}
        </p>
        <a data-toggle="collapse" data-target="#partOne" aria-expanded="false" aria-controls="partOne" class="btn btn-primary ">Infos</a>
      </div>
    </div>
    <div class="card col-3 text-center" style="width: 18rem; height: 20rem;">
      <div class="card-body">
        <img src="{{ devs[12].imgTeam }}" alt="flag" width="225px" height="150px" style="border-style: solid;">
        <h5 class="card-title ">{{ devs[12].team }}</h5>
        <p class="card-text">
          {{ devs[12].descT }}
        </p>
        <a data-toggle="collapse" data-target="#partTwo" aria-expanded="false" aria-controls="partTwo" class="btn btn-primary ">Infos</a>
      </div>
    </div>
    <div class="card col-3 text-center" style="width: 18rem; height: 20rem;">
      <div class="card-body">
        <img src="{{ devs[16].imgTeam }}" alt="flag" width="225px" height="150px" style="border-style: solid;">
        <h5 class="card-title ">{{ devs[16].team }}</h5>
        <p class="card-text">
          {{ devs[16].descT }}
        </p>
        <a data-toggle="collapse" data-target="#jhonny" aria-expanded="false" aria-controls="jhonny" class="btn btn-primary ">Infos</a>
      </div>
    </div>
  </div>
  <!-- dévelop -->
  <div class="collapse" id="collapseExample">
    <div class="row justify-content-center">
      <div *ngFor="let dev of getDevsFromTeam('Les dévelop*tes') " class="col-3 ">
        <div class="card text-center" style="width: 16rem;">
          <div class="card-body ">
            <img src="{{ dev.imgPerso }} " alt="flag " width="225px " height="auto ">
            <h5 class="card-title ">{{ dev.name }} - {{ dev.age }}ans </h5>
            <p class="card-text">
              {{ dev.descPerso }}
              <br/>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- PartOne -->
  <div class="collapse" id="partOne">
    <div class="row justify-content-center">
      <div *ngFor="let dev of getDevsFromTeam('Part One') " class="col-3 ">
        <div class="card text-center" style="width: 16rem;">
          <div class="card-body ">
            <img src="{{ dev.imgPerso }} " alt="flag " width="225px " height="auto ">
            <h5 class="card-title ">{{ dev.name }} - {{ dev.age }}ans </h5>
            <p class="card-text">
              {{ dev.descPerso }}
              <br/>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- PartTwo -->
  <div class="collapse" id="partTwo">
    <div class="row justify-content-center">
      <div *ngFor="let dev of getDevsFromTeam('Part Two') " class="col-3 ">
        <div class="card text-center" style="width: 16rem;">
          <div class="card-body ">
            <img src="{{ dev.imgPerso }} " alt="flag " width="225px " height="auto">
            <h5 class="card-title ">{{ dev.name }} - {{ dev.age }}ans </h5>
            <p class="card-text">
              {{ dev.descPerso }}
              <br/>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Jhonny -->
  <div class="collapse" id="jhonny">
    <div class="row">
      <div *ngFor="let dev of getDevsFromTeam('Jhonny Raquette') " class="col-3 ">
        <div class="card text-center" style="width: 16rem;">
          <div class="card-body ">
            <img src="{{ dev.imgPerso }} " alt="flag " width="225px " height="auto">
            <h5 class="card-title ">{{ dev.name }} - {{ dev.age }}ans </h5>
            <p class="card-text">
              {{ dev.descPerso }}
              <br/>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row ">
    <div class="card col-3 text-center " style="width: 18rem; height: 20rem; ">
      <div class="card-body ">
        <img src="{{ devs[20].imgTeam }} " alt="flag " width="225px " height="150px " style="border-style: solid;">
        <h5 class="card-title ">{{ devs[20].team }}</h5>
        <p class="card-text">
          {{ devs[20].descT }}
        </p>
        <a data-toggle="collapse" data-target="#LAMA" aria-expanded="false" aria-controls="LAMA" class="btn btn-primary ">Infos</a>
      </div>
    </div>
    <div class="card col-3 text-center " style="width: 18rem; height: 20rem; ">
      <div class="card-body ">
        <img src="{{ devs[24].imgTeam }} " alt="flag " width="225px " height="150px " style="border-style: solid;">
        <h5 class="card-title ">{{ devs[24].team }}</h5>
        <p class="card-text">
          {{ devs[24].descT }}
        </p>
        <a data-toggle="collapse" data-target="#devpool" aria-expanded="false" aria-controls="devpool" class="btn btn-primary ">Infos</a>
      </div>
    </div>
    <div class="card col-3 text-center " style="width: 18rem; height: 20rem; ">
      <div class="card-body ">
        <img src="{{ devs[28].imgTeam }} " alt="flag " width="225px " height="150px " style="border-style: solid;">
        <h5 class="card-title ">{{ devs[28].team }}</h5>
        <p class="card-text">
          {{ devs[28].descT }}
        </p>
        <a data-toggle="collapse" data-target="#Name" aria-expanded="false" aria-controls="Name" class="btn btn-primary ">Infos</a>
      </div>
    </div>
    <div class="card col-3 text-center " style="width: 18rem; height: 20rem; ">
      <div class="card-body ">
        <img src="{{ devs[1].imgTeam }} " alt="flag " width="225px " height="150px " style="border-style: solid;">
        <h5 class="card-title ">{{ devs[1].team }}</h5>
        <p class="card-text">
          {{ devs[1].descT }}
        </p>
        <a data-toggle="collapse" data-target="#Osefdunom" aria-expanded="false" aria-controls="Osefdunom" class="btn btn-primary ">Infos</a>
      </div>
    </div>
  </div>
  <!-- La Team LAMA -->
  <div class="collapse" id="LAMA">
    <div class="row">
      <div *ngFor="let dev of getDevsFromTeam('La Team LAMA') " class="col-3 ">
        <div class="card text-center" style="width: 16rem; ">
          <div class="card-body ">
            <img src="{{ dev.imgPerso }} " alt="flag " width="225px " height="auto ">
            <h5 class="card-title ">{{ dev.name }} - {{ dev.age }}ans </h5>
            <p class="card-text">
              {{ dev.descPerso }}
              <br/>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- devpool -->
  <div class="collapse" id="devpool">
    <div class="row">
      <div *ngFor="let dev of getDevsFromTeam('devpool') " class="col-3 ">
        <div class="card text-center" style="width: 16rem; ">
          <div class="card-body ">
            <img src="{{ dev.imgPerso }} " alt="flag " width="225px " height="auto ">
            <h5 class="card-title ">{{ dev.name }} - {{ dev.age }}ans </h5>
            <p class="card-text">
              {{ dev.descPerso }}
              <br/>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- noname -->
  <div class="collapse" id="Name">
    <div class="row">
      <div *ngFor="let dev of getDevsFromTeam('no Name') " class="col-3 ">
        <div class="card text-center" style="width: 16rem;">
          <div class="card-body ">
            <img src="{{ dev.imgPerso }} " alt="flag " width="225px " height="auto">
            <h5 class="card-title ">{{ dev.name }} - {{ dev.age }}ans </h5>
            <p class="card-text">
              {{ dev.descPerso }}
              <br/>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Osefdunom -->
  <div class="collapse" id="Osefdunom">
    <div class="row">
      <div *ngFor="let dev of getDevsFromTeam('Osefdunom') " class="col-3 ">
        <div class="card text-center" style="width: 16rem;">
          <div class="card-body ">
            <img src="{{ dev.imgPerso }} " alt="flag " width="225px " height="auto ">
            <h5 class="card-title ">{{ dev.name }} - {{ dev.age }}ans </h5>
            <p class="card-text">
              {{ dev.descPerso }}
              <br/>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br/>
<br/>