<nav class="navbar sticky-top navbar-expand-lg navbar-dark" style="background-color: black">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto text-align-center justify-content-center">
      <li class="nav-item">
        <a href="#about" class="nav-link">
          < About />
        </a>
      </li>
      <li class="nav-item">
        <a href="#news" class="nav-link">
          < News />
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/devs" class="nav-link" routerLinkActive="active">
          < Teams />
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/" class="nav-link" routerLinkActive="active">
          <img class='mainlogo' src='./assets/logo4.png' alt='logo'>
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/login" class="nav-link" routerLinkActive="active" *ngIf="!auth.loggedIn">
          < Login />
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/register" class="nav-link" routerLinkActive="active" *ngIf="!auth.loggedIn">
          < Register />
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/account" class="nav-link" routerLinkActive="active" *ngIf="auth.loggedIn">
          <i class="fa fa-user"></i> Account ({{ auth.currentUser.username }})
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/admin" class="nav-link" routerLinkActive="active" *ngIf="auth.loggedIn && auth.isAdmin">
          <i class="fa fa-lock"></i> Admin
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/logout" class="nav-link" routerLinkActive="active" *ngIf="auth.loggedIn">
          <i class="fa fa-sign-out"></i> Logout
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/contact" class="nav-link" routerLinkActive="active">
          < Contact />
        </a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
